@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/animations' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.employee-form {
  height: 100vh;
  background: linear-gradient(90deg, #0067a5, #5271ff);

  @include tablet {
    display: flex;
    justify-content: end;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    padding: 1rem;

    @include tablet {
      width: 50%;
      padding: 1rem 4rem;
    }

    @include desktop {
      width: 50%;
      padding: 1rem 12rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

  }

  &__label {
    padding: .5rem 0;
  }

  &__input {
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    height: 30px;
    padding: 1rem;
    color: rgb(69, 69, 69);
  }

  &__submit {
    margin-top: 1rem;
    border-radius: 20px;
    border: none;
    height: 35px;
  }
}