@use "./typography";
@use "./mixins" as *;
@use "./variables" as *;


html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
  }
  
  body {
    font-family: "BellsFonts", sans-serif;
    color: map-get($colors-primary, global-text);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  ol,
  ul {
    list-style: none;
  }