@use "./variables" as *;

@mixin tablet {
  @media (min-width: $min-tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $min-desktop-breakpoint) {
    @content;
  }
}

@mixin h1 {
  font-size: $size-default * 1.75;
  line-height: $size-default * 2.25;

  @media (min-width: $min-tablet-breakpoint) {
    font-size: $size-default * 2;
    line-height: $size-default * 2.5;
  }
}

@mixin h2 {
  font-size: $size-default * 1.25;
  line-height: $size-default * 1.75;

  @media (min-width: $min-tablet-breakpoint) {
    font-size: $size-default * 1.5;
    line-height: $size-default * 2;
  }
}

@mixin h3 {
  font-size: $size-default * 0.8125;
  line-height: $size-default * 1.25;

  @media (min-width: $min-tablet-breakpoint) {
    font-size: $size-default * 0.875;
    line-height: $size-default * 1.375;
  }
}

@mixin h4 {
  font-size: $size-default * 0.6875;
  line-height: $size-default * 1;
  font-weight: 600;
  color: map-get($colors-secondary, column-headers);

  @media (min-width: $min-tablet-breakpoint) {
    font-size: $size-default * 0.75;
    line-height: $size-default * 1.125;
  }
}

@mixin p1 {
  font-size: $size-default * 0.9375;
  line-height: $size-default * 1.625;

  @media (min-width: $min-tablet-breakpoint) {
    font-size: $size-default * 1;
    line-height: $size-default * 1.75;
  }
}

@mixin p2 {
  font-size: $size-default * 0.8125;
  line-height: $size-default * 1.25;

  @media (min-width: $min-tablet-breakpoint) {
    font-size: $size-default * 0.875;
    line-height: $size-default * 1.375;
  }
}

@mixin p3 {
  font-size: $size-default * 0.6875;
  line-height: $size-default * 1;

  @media (min-width: $min-tablet-breakpoint) {
    font-size: $size-default * 0.75;
    line-height: $size-default * 1.125;
  }
}