@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-list {
  list-style-type: none;
  padding: 1rem;
}